# Analysis of HDB Prices Near Expressways (Part 1)

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import re
import time
import requests
import json

# from pykml import parser
# from lxml import etree

# 1. Obtaining HDB Resale Flat Data

The data was obtained from: https://beta.data.gov.sg/datasets?query=resale+flat+price&resultId=189

For this analysis, I will focus on resale flats sold between 2015 to 2024, as the data available during this period are all based on the Registration Date in the past 10 years.

Datasets utilised:
- Resale flat prices based on registration date from Jan-2017 onwards
- Resale Flat Prices (Based on Registration Date), From Jan 2015 to Dec 2016

Some manipulation of the dataset was done in Microsoft Excel prior to importing.
1. Combine rows from the above 3 datasets
2. Replaced "month" (eg. 2017-01) with "year" (eg. 2017)
3. Replaced "remaining_lease" with "remaining_lease_years" by using this formula: 99 - (year - lease_commence_date)
4. Deleted "lease_commence_date", as it can be derived from "remaining_lease_years" & "year"
5. Deleted "flat_model", as not all models were represented across all years. For example, 3Gen flats only started appearing in the resale market after 2017.
6. Short-form names in "street_name" were renamed to their full names. This is necessary in order to facilitate comparison with the OneMap Reverse Geocode data later, which uses full names in their addresses.
    - " AVE" -> " AVENUE"
    - " RD" -> " ROAD"
    - " DR" -> " DRIVE"
    - " CRES" -> " CRESCENT"
    - " ST" -> " STREET"
    - "JLN " -> "JALAN "
    - "BT " -> "BUKIT "
    - "CTRL" -> "CENTRAL"
    - "NTH" -> "NORTH"
    - "STH" -> "SOUTH"
    - " CL" -> " CLOSE"
    - "UPP " -> "UPPER "
    - " PL" -> " PLACE"
    - "LOR " -> "LORONG "
    - " PK" -> " PARK"
    - " GDNS" -> " GARDENS"
    - "KG " -> "KAMPONG "
    - "TG " -> "TANJONG "
    - "ST." -> "SAINT"
    - "C'WEALTH" -> "COMMONWEALTH"

In [3]:
df_hdb_resale = pd.read_csv("hdb_presale_prices_2015-2024.csv")
df_hdb_resale

,year,town,flat_type,block,street_name,storey_range,floor_area_sqm,remaining_lease_years,resale_price
0,2017,ANG MO KIO,2 ROOM,406,ANG MO KIO AVENUE 10,10 TO 12,44.0,61,232000.0
1,2017,ANG MO KIO,3 ROOM,108,ANG MO KIO AVENUE 4,01 TO 03,67.0,60,250000.0
2,2017,ANG MO KIO,3 ROOM,602,ANG MO KIO AVENUE 5,01 TO 03,67.0,62,262000.0
3,2017,ANG MO KIO,3 ROOM,465,ANG MO KIO AVENUE 10,04 TO 06,68.0,62,265000.0
4,2017,ANG MO KIO,3 ROOM,601,ANG MO KIO AVENUE 5,01 TO 03,67.0,62,265000.0
...,...,...,...,...,...,...,...,...,...
223317,2016,YISHUN,5 ROOM,297,YISHUN STREET 20,13 TO 15,112.0,83,488000.0
223318,2016,YISHUN,5 ROOM,838,YISHUN STREET 81,01 TO 03,122.0,70,455000.0
223319,2016,YISHUN,EXECUTIVE,664,YISHUN AVENUE 4,10 TO 12,181.0,75,778000.0
223320,2016,YISHUN,EXECUTIVE,325,YISHUN CENTRAL,01 TO 03,146.0,71,575000.0
223321,2016,YISHUN,MULTI-GENERATION,666,YISHUN AVENUE 4,10 TO 12,164.0,70,735000.0

In [4]:
print(df_hdb_resale.nunique())

df_hdb_resale.info()

# No empty cells observed

year                       10
town                       26
flat_type                   7
block                    2711
street_name               566
storey_range               17
floor_area_sqm            175
remaining_lease_years      58
resale_price             4247
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223322 entries, 0 to 223321
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   year                   223322 non-null  int64
 1   town                   223322 non-null  object
 2   flat_type              223322 non-null  object
 3   block                  223322 non-null  object
 4   street_name            223322 non-null  object
 5   storey_range           223322 non-null  object
 6   floor_area_sqm         223322 non-null  float64
 7   remaining_lease_years  223322 non-null  int64
 8   resale_price           223322 non-null  float64
dtypes: float64(2), int64(2), object(5)
memory usage: 15.3+ MB

There are quite a number of ranges within `story_range`. To streamline the analysis, some of ranges wil be grouped together to form the following 5 categories:

1. Low (01-06)
2. Low-Mid (07-12)
3. Mid (13-18)
4. High (19-30)
5. Very High (>30)

In [5]:
print(df_hdb_resale["storey_range"].unique())

['10 TO 12' '01 TO 03' '04 TO 06' '07 TO 09' '13 TO 15' '19 TO 21'
 '22 TO 24' '16 TO 18' '34 TO 36' '28 TO 30' '37 TO 39' '49 TO 51'
 '25 TO 27' '40 TO 42' '31 TO 33' '46 TO 48' '43 TO 45']

In [6]:
# Define the mapping from storey_range to storey_range_category
storey_range_mapping = {
    '01 TO 03': 'Low (01-06)',
    '04 TO 06': 'Low (01-06)',
    '07 TO 09': 'Low-Mid (07-12)',
    '10 TO 12': 'Low-Mid (07-12)',
    '13 TO 15': 'Mid (13-18)',
    '16 TO 18': 'Mid (13-18)',
    '19 TO 21': 'High (19-30)',
    '22 TO 24': 'High (19-30)',
    '25 TO 27': 'High (19-30)',
    '28 TO 30': 'High (19-30)',
    '31 TO 33': 'Very High (>30)',
    '34 TO 36': 'Very High (>30)',
    '37 TO 39': 'Very High (>30)',
    '40 TO 42': 'Very High (>30)',
    '43 TO 45': 'Very High (>30)',
    '46 TO 48': 'Very High (>30)',
    '49 TO 51': 'Very High (>30)'
}

# Create the new column based on the mapping
df_hdb_resale['storey_range_category'] = df_hdb_resale['storey_range'].map(storey_range_mapping)

In [7]:
# Print the DataFrame to verify the new column
df_hdb_resale

,year,town,flat_type,block,street_name,storey_range,floor_area_sqm,remaining_lease_years,resale_price,storey_range_category
0,2017,ANG MO KIO,2 ROOM,406,ANG MO KIO AVENUE 10,10 TO 12,44.0,61,232000.0,Low-Mid (07-12)
1,2017,ANG MO KIO,3 ROOM,108,ANG MO KIO AVENUE 4,01 TO 03,67.0,60,250000.0,Low (01-06)
2,2017,ANG MO KIO,3 ROOM,602,ANG MO KIO AVENUE 5,01 TO 03,67.0,62,262000.0,Low (01-06)
3,2017,ANG MO KIO,3 ROOM,465,ANG MO KIO AVENUE 10,04 TO 06,68.0,62,265000.0,Low (01-06)
4,2017,ANG MO KIO,3 ROOM,601,ANG MO KIO AVENUE 5,01 TO 03,67.0,62,265000.0,Low (01-06)
...,...,...,...,...,...,...,...,...,...,...
223317,2016,YISHUN,5 ROOM,297,YISHUN STREET 20,13 TO 15,112.0,83,488000.0,Mid (13-18)
223318,2016,YISHUN,5 ROOM,838,YISHUN STREET 81,01 TO 03,122.0,70,455000.0,Low (01-06)
223319,2016,YISHUN,EXECUTIVE,664,YISHUN AVENUE 4,10 TO 12,181.0,75,778000.0,Low-Mid (07-12)
223320,2016,YISHUN,EXECUTIVE,325,YISHUN CENTRAL,01 TO 03,146.0,71,575000.0,Low (01-06)
223321,2016,YISHUN,MULTI-GENERATION,666,YISHUN AVENUE 4,10 TO 12,164.0,70,735000.0,Low-Mid (07-12)

In [8]:
# export to CSV
df_hdb_resale.to_csv("hdb_presale_prices_2015-2024_categorised.csv", index=False)

# 2. Obtaining Expressway Data

Objective: Obtain coordinates of the entire stretch of all expressways from the NEA National Map Line

In [ ]:
def extract_info_from_kml(kml_file):
    with open(kml_file, 'r') as f:
        doc = parser.parse(f)
    root = doc.getroot()

    placemarks = root.Document.Folder.Placemark

    extracted_data = []

    for placemark in placemarks:
        data = {
            "NAME": None,
            "FOLDERPATH": None,
            "SYMBOLID": None,
            "INC_CRC": None,
            "FMEL_UPD_D": None,
            "LONGITUDE": None,
            "LATITUDE": None,
            "ALTITUDE": None
        }

        extended_data = placemark.ExtendedData.SchemaData.SimpleData
        # print("EXTENDED_DATA", extended_data)

        for item in extended_data:
            if item.attrib['name'] == "NAME":
                data["NAME"] = str(item.text)
            elif item.attrib['name'] == "FOLDERPATH":
                data["FOLDERPATH"] = item.text
            elif item.attrib['name'] == "SYMBOLID":
                data["SYMBOLID"] = item.text
            elif item.attrib['name'] == "INC_CRC":
                data["INC_CRC"] = item.text
            elif item.attrib['name'] == "FMEL_UPD_D":
                data["FMEL_UPD_D"] = item.text

        # coordinates = placemark.LineString.coordinates.text.strip().split()[0]
        coordinates = placemark.LineString.coordinates.text.strip().split()
        # print("COORDINATES", coordinates)

        for coord in coordinates:
            row_data = data.copy()

            longitude, latitude, altitude = coord.split(',')
            row_data["LONGITUDE"] = float(longitude)
            row_data["LATITUDE"] = float(latitude)
            row_data["ALTITUDE"] = float(altitude)

            # print("DATA:", row_data)

            extracted_data.append(row_data)

            # print("EXTRACT:", extracted_data)

        # print("###########")
    return extracted_data

In [ ]:
import csv

# KML file path & output file
kml_file_path = 'NationalMapLine.kml'
output_file = "road_coordinates_full.csv"

# Parse KML file & extract information
extracted_data = extract_info_from_kml(kml_file_path)

# Define the keys as headers
headers = ['NAME', 'FOLDERPATH', 'SYMBOLID', 'INC_CRC', 'FMEL_UPD_D', 'LONGITUDE', 'LATITUDE', 'ALTITUDE']

# Write the data to a CSV file
with open(output_file, 'w', newline='') as file:
    writer = csv.DictWriter(file, fieldnames=headers)
    writer.writeheader()
    for entry in extracted_data:
        writer.writerow(entry)

print(f"Data has been written to {output_file}")
# extracted_data

Data has been written to road_coordinates_full.csv

### List of Expressways in Singapore

â€¢	Ayer Rajah Expressway	AYE
â€¢	Bukit Timah Expressway	BKE
â€¢	Central Expressway	CTE
â€¢	East Coast Parkway	ECP
â€¢	Kallang Paya Lebar Expressway	KPE
â€¢	Kranji Expressway	KJE
â€¢	Marina Coastal Expressway	MCE
â€¢	Pan Island Expressway	PIE
â€¢	Seletar Expressway	SLE
â€¢	Tampines Expressway	TPE

In [ ]:
# Load the CSV file into a DataFrame
df = pd.read_csv('road_coordinates_full.csv')

# Find the unique values in the "NAME" column
print(df['NAME'].unique())
df.head()

['CENTRAL EXPRESSWAY' 'CHANGI COAST ROAD' 'CHANGI NORTH CRESCENT'
 'CHANGI SOUTH AVENUE 3' 'CHIN SWEE ROAD' 'CHOA CHU KANG DRIVE'
 'LORNIE HIGHWAY' 'TAMPINES AVENUE 10' 'XILIN AVENUE' 'CHOA CHU KANG WAY'
 'CLEMENTI AVENUE 2' 'CLEMENTI AVENUE 6' 'CLEMENTI ROAD' 'DAIRY FARM ROAD'
 'EAST COAST PARK SERVICE ROAD' 'AYER RAJAH EXPRESSWAY'
 'BUKIT TIMAH EXPRESSWAY' 'BUKIT TIMAH ROAD' 'CAIRNHILL CIRCLE'
 'BALESTIER ROAD' 'BAYSHORE ROAD' 'BEDOK NORTH AVENUE 3'
 'BEDOK NORTH ROAD' 'BEDOK SOUTH AVENUE 1' 'BENDEMEER ROAD'
 'BRADDELL ROAD' 'BRICKLAND ROAD' 'BUANGKOK EAST DRIVE'
 'BUKIT BATOK EAST AVENUE 3' 'BUKIT BATOK ROAD' 'BUKIT PANJANG ROAD'
 'EAST COAST PARKWAY' 'KALLANG PAYA LEBAR EXPRESSWAY' 'KRANJI EXPRESSWAY'
 'MARINA COASTAL EXPRESSWAY' 'NICOLL UNDERPASS' 'PAN ISLAND EXPRESSWAY'
 'SELETAR EXPRESSWAY' 'SIME UNDERPASS' 'TAMPINES EXPRESSWAY' 'ADAM ROAD'
 'ADMIRALTY ROAD WEST' 'AIRPORT ROAD' 'ALEXANDRA ROAD'
 'ANG MO KIO AVENUE 1' 'ANG MO KIO AVENUE 3' 'ANG MO KIO AVENUE 5' nan
 'ADAM UNDERPASS' 'LOWER DELTA ROAD' 'LOYANG AVENUE' 'MANDAI AVENUE'
 'MANDAI ROAD' 'MARINE VISTA' 'MERCHANT ROAD' 'MOULMEIN ROAD'
 'MOUNT PLEASANT ROAD' 'NICOLL HIGHWAY' 'NORMANTON PARK'
 'NORTH BUONA VISTA ROAD' 'OPHIR ROAD' 'OUTRAM ROAD' 'KEPPEL ROAD'
 'KIM KEAT LINK' 'KRAMAT ROAD' 'LENTOR AVENUE' 'LORONG 2 TOA PAYOH'
 'ELIAS ROAD' 'ENG NEO AVENUE' 'FORT ROAD' 'HOUGANG AVENUE 10'
 'JALAN AHMAD IBRAHIM' 'JALAN ANAK BUKIT' 'JALAN BAHAR'
 'JALAN BUKIT MERAH' 'JALAN BUROH' 'JALAN EUNOS' 'JALAN KAYU'
 'JURONG CANAL DRIVE' 'JURONG PIER ROAD' 'JURONG TOWN HALL ROAD'
 'JURONG WEST AVENUE 2' 'SELETAR WEST LINK' 'SENGKANG EAST ROAD'
 'SOUTH BUONA VISTA ROAD' 'SERANGOON ROAD' 'SIGLAP LINK' 'SIMEI AVENUE'
 'SIMEI ROAD' 'SIMS WAY' 'STILL ROAD SOUTH' 'SUNGEI TENGAH ROAD'
 'T4 FLYOVER' 'TAMPINES AVENUE 12' 'PASIR LABA ROAD' 'PASIR RIS DRIVE 12'
 'PASIR RIS DRIVE 8' 'PAYA LEBAR ROAD' 'PENJURU ROAD' 'PIONEER ROAD NORTH'
 'PUNGGOL ROAD' 'PUNGGOL WAY' 'SELETAR LINK' 'ALJUNIED ROAD'
 'ANG MO KIO AVENUE 6' 'ANSON ROAD' 'BARTLEY ROAD' 'BARTLEY ROAD EAST'
 'BEDOK ROAD' 'BENCOOLEN STREET' 'BENOI ROAD' 'UPPER CHANGI ROAD EAST'
 'UPPER CHANGI ROAD NORTH' 'UPPER CROSS STREET' 'UPPER JURONG ROAD'
 'UPPER SERANGOON ROAD' 'WOODLANDS AVENUE 12' 'WOODLANDS AVENUE 2'
 'WOODLANDS AVENUE 3' 'WOODLANDS CENTRE ROAD' 'WOODLANDS ROAD'
 'YIO CHU KANG ROAD' 'ADMIRALTY ROAD' 'ADMIRALTY ROAD EAST'
 'AIRPORT BOULEVARD' 'TAMPINES AVENUE 5' 'TAMPINES AVENUE 7'
 'TAMPINES LINK' 'TAMPINES ROAD' 'TAMPINES STREET 31'
 'TANAH MERAH COAST ROAD' 'TANJONG KATONG ROAD SOUTH' 'THOMSON ROAD'
 'TOH GUAN ROAD' 'TOH TUCK AVENUE' 'TUAS ROAD' 'TUAS VIADUCT'
 'UNNAMED ROAD' 'UPPER THOMSON ROAD' 'HOLLAND ROAD' 'HOOT KIAM ROAD'
 'HOUGANG AVENUE 2' 'HOUGANG AVENUE 3' 'INTERNATIONAL ROAD'
 'BRAS BASAH ROAD' 'BUANGKOK DRIVE' 'BUANGKOK GREEN'
 'BUKIT BATOK AVENUE 1' 'BUKIT BATOK CENTRAL' 'BUKIT BATOK EAST AVENUE 2'
 'BUKIT BATOK EAST AVENUE 6' 'BUKIT BATOK WEST AVENUE 2' 'CANBERRA LINK'
 'CANBERRA ROAD' 'CANTONMENT ROAD' 'CHANGI ROAD' 'CHOA CHU KANG AVENUE 1'
 'CHOA CHU KANG AVENUE 3' 'WOODSVILLE TUNNEL' 'ZION ROAD' 'COLLYER QUAY'
 'COMMONWEALTH AVENUE' 'COMMONWEALTH AVENUE WEST' 'CORPORATION ROAD'
 'DUNEARN ROAD' 'EAST COAST ROAD' 'ESPLANADE DRIVE' 'EU TONG SEN STREET'
 'EUNOS LINK' 'FARRER ROAD' 'CHOA CHU KANG ROAD' 'DELTA ROAD'
 'GANGES AVENUE' 'LORNIE ROAD' 'LORNIE UNDERPASS' 'LORONG 1 TOA PAYOH'
 'TAMPINES AVENUE 1' 'BOON LAY WAY' 'BOUNDARY ROAD' 'FULLERTON ROAD'
 'GAMBAS AVENUE' 'GEYLANG ROAD' 'GUILLEMARD ROAD' 'HANDY ROAD'
 'HILL STREET' 'HILLVIEW AVENUE' 'HILLVIEW ROAD' 'ORCHARD ROAD'
 'PASIR PANJANG ROAD' 'PASIR RIS DRIVE 1' 'PASIR RIS DRIVE 3'
 'PATERSON HILL' 'PATERSON ROAD' 'PIONEER CIRCUS' 'PIONEER ROAD'
 'PORTSDOWN AVENUE' 'PRINSEP STREET' 'PUNGGOL CENTRAL' 'PUNGGOL EAST'
 'PUNGGOL FIELD' 'QUEENSWAY' 'MACPHERSON ROAD' 'MARINE PARADE ROAD'
 'MARYMOUNT ROAD' 'MOUNTBATTEN ROAD' 'NAPIER ROAD' 'NEIL ROAD'
 'NEO TIEW ROAD' 'NEW BRIDGE ROAD' 'NEW PUNGGOL ROAD'
 'NEW UPPER CHANGI ROAD' 'NEWTON CIRCUS' 'NEWTON ROAD' 'NICOLL DRIVE'
 'OLD CHOA CHU KANG ROAD' 'OLD JURONG ROAD' 'JALAN BOON LAY'
 'JALAN JURONG KECHIL' 'JALAN KEBUN LIMAU' 'JURONG EAST CENTRAL'
 'JURONG ISLAND HIGHWAY' 'JURONG PORT ROAD' 'JURONG WEST AVENUE 4'
 'KALLANG BAHRU' 'KALLANG ROAD' 'KAMPONG BAHRU ROAD' 'KRANJI LOOP'
 'KRANJI ROAD' 'KRANJI WAY' 'LAVENDER STREET' 'LIM CHU KANG ROAD'
 'LORONG 6 TOA PAYOH' 'LORONG CHUAN' 'WEST COAST HIGHWAY'
 'WEST COAST ROAD' 'WHITLEY ROAD' 'WOODLANDS AVENUE 5'
 'WOODLANDS AVENUE 7' 'WOODLANDS AVENUE 8' 'WOODLANDS AVENUE 9'
 'SENGKANG EAST WAY' 'SENGKANG WEST AVENUE' 'SENGKANG WEST ROAD'
 'SENGKANG WEST WAY' 'SERANGOON CENTRAL' 'SHEARES AVENUE' 'SHENTON WAY'
 'SIGLAP ROAD' 'SIMS AVENUE' 'SIMS AVENUE EAST' 'STAMFORD ROAD'
 'STILL ROAD' 'SUNGEI ROAD' 'T1 BOULEVARD' 'TAMPINES AVENUE 2'
 'TAMPINES AVENUE 6' 'TAMPINES AVENUE 9' 'TANJONG KATONG ROAD'
 'TUAS SOUTH AVENUE 3' 'TUAS SOUTH AVENUE 9' 'TUAS SOUTH BOULEVARD'
 'TUAS WEST ROAD' 'TURF CLUB AVENUE' 'ULU PANDAN ROAD'
 'UPPER BUKIT TIMAH ROAD' 'UPPER CHANGI ROAD' '0' 'TANJONG KLING ROAD'
 'TELOK BLANGAH ROAD' 'TELOK PAKU ROAD' 'TIONG BAHRU ROAD'
 'TOA PAYOH NORTH FLYOVER' 'TUAS CRESCENT' 'RAFFLES QUAY'
 'RIVER VALLEY ROAD' 'ROBINSON ROAD' 'ROCHOR CANAL ROAD' 'ROCHOR ROAD'
 'SCOTTS ROAD' 'SELEGIE ROAD' 'SELETAR AEROSPACE WAY' 'SELETAR NORTH LINK'
 'SEMBAWANG ROAD' 'SEMBAWANG WAY' 'SENGKANG EAST AVENUE'
 'SENGKANG EAST DRIVE' 'UPPER EAST COAST ROAD' 'UPPER PAYA LEBAR ROAD'
 'VICTORIA STREET' '20' 'YIO CHU KANG LINK' 'YISHUN AVENUE 1'
 'YISHUN AVENUE 2' 'YISHUN AVENUE 8' '40' 20 40 80 60 100 120 160 140]

C:\Users\adiso\AppData\Local\Temp\ipykernel_32420\2720336913.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('road_coordinates_full.csv')

,NAME,FOLDERPATH,SYMBOLID,INC_CRC,FMEL_UPD_D,LONGITUDE,LATITUDE,ALTITUDE
0,CENTRAL EXPRESSWAY,Layers/Expressway_Sliproad,2,0C08DFFA475DDCCD,20191008154530,103.858334,1.355953,0.0
1,CENTRAL EXPRESSWAY,Layers/Expressway_Sliproad,2,0C08DFFA475DDCCD,20191008154530,103.858216,1.355816,0.0
2,CENTRAL EXPRESSWAY,Layers/Expressway_Sliproad,2,0C08DFFA475DDCCD,20191008154530,103.858117,1.355756,0.0
3,CENTRAL EXPRESSWAY,Layers/Expressway_Sliproad,2,0C08DFFA475DDCCD,20191008154530,103.857993,1.355714,0.0
4,CENTRAL EXPRESSWAY,Layers/Expressway_Sliproad,2,0C08DFFA475DDCCD,20191008154530,103.857876,1.355721,0.0

In [ ]:
# Names of 10 expressways
names_to_filter = [
    'AYER RAJAH EXPRESSWAY',
    'BUKIT TIMAH EXPRESSWAY',
    'CENTRAL EXPRESSWAY',
    'EAST COAST PARKWAY',
    'KALLANG PAYA LEBAR EXPRESSWAY',
    'KRANJI EXPRESSWAY',
    'MARINA COASTAL EXPRESSWAY',
    'PAN ISLAND EXPRESSWAY',
    'SELETAR EXPRESSWAY',
    'TAMPINES EXPRESSWAY'
]

# Filter the DataFrame based on the names
filtered_df = df[df['NAME'].isin(names_to_filter)]

# Save the filtered DataFrame to a new CSV file
filtered_df.to_csv('road_coordinates_expressways.csv', index=False)
print("Before:", len(df))
print("After (Expressways only):", len(filtered_df))

Before: 997381
After (Expressways only): 5538

# 3. Obtaining Data of HDB Flats Near Expressways

Investigate various thresholds:
- 50m
- 100m
- 150m
- 300m
- 500m

### 3.1 API Calls (Reverse Geo Code)

Objective: Obtain coordinates of all expressways in Singapore

In [9]:
# QUERY PARAMETERS
# location
# string
# Longitude and Latitude and Coordinates in WGS84 format.

# buffer
# string
# Optional. Values: 0-500 (in meters). Rounds up all buildings in a circumference from a point and search building add

# addressType
# string
# Optional. Values: HDB or All. Allows users to define property types within the buffer/radius. If HDB is selected, result

# otherFeatures
# string
# Optional. Values: Y or N. Allows uses the page to retrieve information on reservoirs, playgrounds, jetties, etc. Default is N.

# url = "https://www.onemap.gov.sg/api/public/revgeocode?location=1.3254295,103.9005321&buffer=40&addressType=All&otherFeatures=N"

def construct_revgeocode_url(latitude, longitude, buffer, address_type="HDB"):

    url = f"https://www.onemap.gov.sg/api/public/revgeocode?location={latitude},{longitude}&buffer={buffer}&addressType={address_type}"

    return url

In [ ]:
df_highway_coordinates = pd.read_csv("road_coordinates_expressways.csv")

df_highway_coordinates.head(5)

# 1.334715, 103.862306

,NAME,FOLDERPATH,SYMBOLID,INC_CRC,FMEL_UPD_D,LONGITUDE,LATITUDE,ALTITUDE
0,CENTRAL EXPRESSWAY,Layers/Expressway_Sliproad,2,0C08DFFA475DDCCD,20191008154530,103.858334,1.355953,0.0
1,CENTRAL EXPRESSWAY,Layers/Expressway_Sliproad,2,0C08DFFA475DDCCD,20191008154530,103.858216,1.355816,0.0
2,CENTRAL EXPRESSWAY,Layers/Expressway_Sliproad,2,0C08DFFA475DDCCD,20191008154530,103.858117,1.355756,0.0
3,CENTRAL EXPRESSWAY,Layers/Expressway_Sliproad,2,0C08DFFA475DDCCD,20191008154530,103.857993,1.355714,0.0
4,CENTRAL EXPRESSWAY,Layers/Expressway_Sliproad,2,0C08DFFA475DDCCD,20191008154530,103.857876,1.355721,0.0

Note: The code below shows the buffer of 500m. However, the buffer was also adjusted seperate to obtain thresholds at 50m, 100m, 150m & 300m.

In [ ]:
output_file = 'reversegeocode_500m.json'
buffer = 500   # threshold of 500m

headers = {"Authorization": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI1ODViZGE1MzZjZmI4MWUxNGVjYTNlOTY4ZGZjZTg3NyIsImlzcyI6Imh0dHA6Ly9pbnRlcm5hbC1hbGItb20tcHJkZXppdC1pdC0xMjIzNjk4OTkyLmFwLXNvdXRoZWFzdC0xLmVsYi5hbWF6b25hd3MuY29tL2FwaS92Mi91c2VyL3Nlc3Npb24iLCJpYXQiOjE3MjI3MzU2MzAsImV4cCI6MTcyMjk5NDgzMCwibmJmIjoxNzIyNzM1NjMwLCJqdGkiOiJzZ00xR1Q3dGhmeG1LY0tMIiwidXNlcl9pZCI6MjkwMiwiZm9yZXZlciI6ZmFsc2V9.9ETDQAHKZcdmFrqVM3pxuHhvroWR8Pp7lC3I3-G3pCI"}

responses = []

for row in range(len(df_highway_coordinates)):
    print("Row:", row)

    latitude = df_highway_coordinates['LATITUDE'][row]
    longitude = df_highway_coordinates['LONGITUDE'][row]
    highway = df_highway_coordinates['NAME'][row]

    # get URL
    url = construct_revgeocode_url(latitude, longitude, buffer)

    max_retries = 2
    retry_count = 0
    success = False

    while retry_count <= max_retries and not success:
        response = requests.get(url, headers=headers)

        if response.status_code == 200:
            responses.append({
                "highway": highway,
                "response": response.json()
            })
            # responses.append(response.json())
            success = True
        else:
            retry_count += 1
            if retry_count <= max_retries:
                print(f"Failed to fetch data for {latitude}, {longitude}: {response.status_code}. Retrying in 10 seconds...")
                time.sleep(10)
            else:
                print(f"Failed to fetch data for {latitude}, {longitude}: {response.status_code}. No more retries left.")
                responses.append({
                    "highway": highway,
                    "response": "Error"
                })

    # Sleep for 3 seconds before the next API call if the current call was successful
    if success:
        print("Success")
        time.sleep(1)

    print("Response len:", len(responses))

# Save the responses to a JSON file
with open(output_file, 'w') as f:
    json.dump(responses, f, indent=4)

print(f"Responses saved to {output_file}")

### 3.2 Parse Reverse Geo Code Output

Objective: Parse the JSON output file (from the API calls) to obtain key information about HDB flats near expressways.

In [53]:
# Parse JSON to obtain outputs

# Define the function to read and parse the JSON file
def parse_reverse_geocode(json_file):
    with open(json_file, 'r') as file:
        data = json.load(file)

    structured_data = []

    for entry in data:
        highway = entry["highway"]
        geocode_info = entry["response"]["GeocodeInfo"]  #.get("GeocodeInfo", [])
        # print("GEOCODE_INFO:", geocode_info)

        for info in geocode_info:
            parsed_info = {
                "highway": highway,
                "BUILDINGNAME": info["BUILDINGNAME"],
                "BLOCK": info["BLOCK"],
                "ROAD": info["ROAD"],
                "POSTALCODE": info["POSTALCODE"],
                "XCOORD": info["XCOORD"],
                "YCOORD": info["YCOORD"],
                "LATITUDE": info["LATITUDE"],
                "LONGITUDE": info["LONGITUDE"]
            }
            structured_data.append(parsed_info)

    return structured_data

Note: The code below shows the parsing of the 500m JSON output file. However, the same process was done for outputs for other buffers at 50m, 100m, 150m & 300m.

In [54]:
# Specify the JSON file to read
json_file = 'reversegeocode_500m.json'

# Parse the file and get the structured data
parsed_data = parse_reverse_geocode(json_file)

# Convert the structured data to a pandas DataFrame
df_revgeocode = pd.DataFrame(parsed_data)

print("Raw:", df_revgeocode.shape)

# Drop duplicate rows
df_revgeocode.drop_duplicates(inplace=True)

print("Remove Dups:", df_revgeocode.shape)

df_revgeocode.head()

Raw: (26157, 9)
Remove Dups: (2046, 9)

,highway,BUILDINGNAME,BLOCK,ROAD,POSTALCODE,XCOORD,YCOORD,LATITUDE,LONGITUDE
0,CENTRAL EXPRESSWAY,null,401,ANG MO KIO AVENUE 10,560401,30456.0196313,38119.9444502,1.3610176564285046,103.85538756245337
2,CENTRAL EXPRESSWAY,null,403,ANG MO KIO AVENUE 10,560403,30373.0877168,38147.7376024,1.3612690145131892,103.85464236582233
4,CENTRAL EXPRESSWAY,null,402,ANG MO KIO AVENUE 10,560402,30446.3212548,38170.7448417,1.3614770778262377,103.8553004201979
9,CENTRAL EXPRESSWAY,TECK GHEE HORIZON,476,ANG MO KIO AVENUE 10,560476,30733.4600865,38271.5050223,1.362388291846532,103.85788056473686
10,CENTRAL EXPRESSWAY,TECK GHEE SQUARE,407,ANG MO KIO AVENUE 10,560407,30440.4499923,38218.9990299,1.3619134719520396,103.85524766690021

In [56]:
# Export the DataFrame to a CSV file
csv_file = 'reversegeocode_data_500m.csv'
df_revgeocode.to_csv(csv_file, index=False)

print(f"Data exported to {csv_file}")

Data exported to reversegeocode_data_500m.csv

# 4. Identifying HDB Resale Transactions Near Expressways

In this section, the list of HDB flats within a specified proximity (50, 100, 150, 300 or 500m radius) to an expressway is identified by comparing the addresses of the full HDB resale price list against the dataset obtained in section 3.

### Creating the "expressway_50m" Column

In [36]:
# Load the HDB resale data
df_hdb_resale = pd.read_csv("hdb_presale_prices_2015-2024_categorised.csv")
print(df_hdb_resale.shape)
print(df_hdb_resale.columns.tolist())

(223322, 10)
['year', 'town', 'flat_type', 'block', 'street_name', 'storey_range', 'floor_area_sqm', 'remaining_lease_years', 'resale_price', 'storey_range_category']

In [37]:
# Load the HDB flats that are within a 50m
df_hdb_expressway_50m = pd.read_csv("reversegeocode_data_50m.csv")
print(df_hdb_expressway_50m.shape)
print(df_hdb_expressway_50m.columns.tolist())

(208, 9)
['highway', 'BUILDINGNAME', 'BLOCK', 'ROAD', 'POSTALCODE', 'XCOORD', 'YCOORD', 'LATITUDE', 'LONGITUDE']

The common columns are:
- df_hdb_resale: `block`, `street_name`
- df_hdb_expressway_50m: `BLOCK`, `ROAD`

A new column called `expressway_50m` will be created in 'df_hdb_resale', containing binary values 1 (if found in 'df_hdb_expressway_50m') and 0 otherwise.

In [38]:
# Prepare a filtered table for merging
df_hdb_expressway_50m_filtered = df_hdb_expressway_50m[['highway', 'BLOCK', 'ROAD']]
# Remove duplicate rows
df_hdb_expressway_50m_filtered = df_hdb_expressway_50m_filtered.drop_duplicates()
print(df_hdb_expressway_50m_filtered.shape)

(207, 3)

In [39]:
# Perform left join on df_hdb_resale and df_hdb_expressway_50m_filtered
df_hdb_resale_50m = df_hdb_resale.merge(df_hdb_expressway_50m_filtered, left_on=['block', 'street_name'], right_on=['BLOCK', 'ROAD'], how='left')

# Drop extra columns
df_hdb_resale_50m = df_hdb_resale_50m.drop(columns=['BLOCK', 'ROAD'], errors='ignore')

# Rename the 'highway' column to 'highwayname_50m'
df_hdb_resale_50m.rename(columns={'highway': 'highwayname_50m'}, inplace=True)

# Create the new column 'highway_50m'
# If 'highwayname_50m' has a value, set 'highway_50m' to 1, otherwise 0
df_hdb_resale_50m['highway_50m'] = df_hdb_resale_50m['highwayname_50m'].apply(lambda x: 1 if pd.notna(x) and x != '' else 0)

print(df_hdb_resale_50m.shape)

# Observe flats that are within 50m of highway
df_hdb_resale_50m[df_hdb_resale_50m['highway_50m'] == 1]

(223431, 12)

,year,town,flat_type,block,street_name,storey_range,floor_area_sqm,remaining_lease_years,resale_price,storey_range_category,highwayname_50m,highway_50m
56,2017,BEDOK,2 ROOM,101,BEDOK NORTH AVENUE 4,04 TO 06,45.0,60,238000.0,Low (01-06),PAN ISLAND EXPRESSWAY,1
65,2017,BEDOK,3 ROOM,528,BEDOK NORTH STREET 3,13 TO 15,68.0,61,290000.0,Mid (13-18),PAN ISLAND EXPRESSWAY,1
203,2017,BUKIT MERAH,3 ROOM,142,JALAN BUKIT MERAH,01 TO 03,67.0,61,313000.0,Low (01-06),CENTRAL EXPRESSWAY,1
207,2017,BUKIT MERAH,3 ROOM,142,JALAN BUKIT MERAH,10 TO 12,67.0,61,340000.0,Low-Mid (07-12),CENTRAL EXPRESSWAY,1
621,2017,JURONG WEST,EXECUTIVE,558,JURONG WEST STREET 42,04 TO 06,150.0,67,568000.0,Low (01-06),PAN ISLAND EXPRESSWAY,1
...,...,...,...,...,...,...,...,...,...,...,...,...
223066,2016,SENGKANG,5 ROOM,299A,COMPASSVALE STREET,04 TO 06,114.0,84,418000.0,Low (01-06),TAMPINES EXPRESSWAY,1
223147,2016,TAMPINES,4 ROOM,112,SIMEI STREET 1,10 TO 12,84.0,71,390000.0,Low-Mid (07-12),PAN ISLAND EXPRESSWAY,1
223214,2016,TOA PAYOH,3 ROOM,173,LORONG 1 TOA PAYOH,01 TO 03,66.0,55,275000.0,Low (01-06),PAN ISLAND EXPRESSWAY,1
223218,2016,TOA PAYOH,3 ROOM,173,LORONG 1 TOA PAYOH,10 TO 12,66.0,55,290000.0,Low-Mid (07-12),PAN ISLAND EXPRESSWAY,1
223229,2016,TOA PAYOH,4 ROOM,246,KIM KEAT LINK,04 TO 06,104.0,72,460000.0,Low (01-06),PAN ISLAND EXPRESSWAY,1

Note: The total number of rows increased after performing the left join, as there are some flats that are close to >1 expressway. <br>
Thus, therefore be a need to remove duplicates after dropping other columns that will not be used for performing other calculations later.

### Creating the "expressway_150m" Column

Similar to how the 50m column was created, another binary column is created to identify flats that are within 150m of a highway.

In [40]:
# Load the HDB flats that are within a 150m
df_hdb_expressway_150m = pd.read_csv("reversegeocode_data_150m.csv")
print(df_hdb_expressway_150m.shape)

# Prepare a filtered table for merging
df_hdb_expressway_150m_filtered = df_hdb_expressway_150m[['highway', 'BLOCK', 'ROAD']]
# Remove duplicate rows
df_hdb_expressway_150m_filtered = df_hdb_expressway_150m_filtered.drop_duplicates()
print(df_hdb_expressway_150m_filtered.shape)

# Perform left join on df_hdb_resale and df_hdb_expressway_150m_filtered
df_hdb_resale_50m_150m = df_hdb_resale_50m.merge(df_hdb_expressway_150m_filtered, left_on=['block', 'street_name'], right_on=['BLOCK', 'ROAD'], how='left')

# Drop extra columns
df_hdb_resale_50m_150m = df_hdb_resale_50m_150m.drop(columns=['BLOCK', 'ROAD'], errors='ignore')

# Rename the 'highway' column to 'highwayname_50m'
df_hdb_resale_50m_150m.rename(columns={'highway': 'highwayname_150m'}, inplace=True)

# Create the new column 'highway_50m'
# If 'highwayname_50m' has a value, set 'highway_50m' to 1, otherwise 0
df_hdb_resale_50m_150m['highway_150m'] = df_hdb_resale_50m_150m['highwayname_150m'].apply(lambda x: 1 if pd.notna(x) and x != '' else 0)

print(df_hdb_resale_50m_150m.shape)

# Observe flats that are within 150m of highway
df_hdb_resale_50m_150m[df_hdb_resale_50m_150m['highway_150m'] == 1]

(1134, 9)
(1112, 3)
(224883, 14)

,year,town,flat_type,block,street_name,storey_range,floor_area_sqm,remaining_lease_years,resale_price,storey_range_category,highwayname_50m,highway_50m,highwayname_150m,highway_150m
56,2017,BEDOK,2 ROOM,101,BEDOK NORTH AVENUE 4,04 TO 06,45.0,60,238000.0,Low (01-06),PAN ISLAND EXPRESSWAY,1,PAN ISLAND EXPRESSWAY,1
62,2017,BEDOK,3 ROOM,54,CHAI CHEE STREET,04 TO 06,68.0,63,285000.0,Low (01-06),NaN,0,PAN ISLAND EXPRESSWAY,1
63,2017,BEDOK,3 ROOM,50,CHAI CHEE STREET,04 TO 06,68.0,63,285000.0,Low (01-06),NaN,0,PAN ISLAND EXPRESSWAY,1
65,2017,BEDOK,3 ROOM,528,BEDOK NORTH STREET 3,13 TO 15,68.0,61,290000.0,Mid (13-18),PAN ISLAND EXPRESSWAY,1,PAN ISLAND EXPRESSWAY,1
66,2017,BEDOK,3 ROOM,534,BEDOK NORTH STREET 3,10 TO 12,60.0,68,290000.0,Low-Mid (07-12),NaN,0,PAN ISLAND EXPRESSWAY,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224669,2016,TOA PAYOH,3 ROOM,173,LORONG 1 TOA PAYOH,10 TO 12,66.0,55,290000.0,Low-Mid (07-12),PAN ISLAND EXPRESSWAY,1,PAN ISLAND EXPRESSWAY,1
224677,2016,TOA PAYOH,3 ROOM,113,POTONG PASIR AVENUE 1,04 TO 06,67.0,67,320000.0,Low (01-06),NaN,0,CENTRAL EXPRESSWAY,1
224678,2016,TOA PAYOH,3 ROOM,120,POTONG PASIR AVENUE 1,07 TO 09,67.0,67,305000.0,Low-Mid (07-12),NaN,0,CENTRAL EXPRESSWAY,1
224679,2016,TOA PAYOH,3 ROOM,120,POTONG PASIR AVENUE 1,07 TO 09,67.0,67,305000.0,Low-Mid (07-12),NaN,0,PAN ISLAND EXPRESSWAY,1
224681,2016,TOA PAYOH,4 ROOM,246,KIM KEAT LINK,04 TO 06,104.0,72,460000.0,Low (01-06),PAN ISLAND EXPRESSWAY,1,PAN ISLAND EXPRESSWAY,1

### Creating the "expressway_300m" Column

Similar to how the 50m & 150m column was created, another binary column is created to identify flats that are within 300m of a highway.

In [45]:
# Load the HDB flats that are within a 300m
df_hdb_expressway_300m = pd.read_csv("reversegeocode_data_300m.csv")
print(df_hdb_expressway_300m.shape)

# Prepare a filtered table for merging
df_hdb_expressway_300m_filtered = df_hdb_expressway_300m[['highway', 'BLOCK', 'ROAD']]
# Remove duplicate rows
df_hdb_expressway_300m_filtered = df_hdb_expressway_300m_filtered.drop_duplicates()
print(df_hdb_expressway_300m_filtered.shape)

# Perform left join on df_hdb_resale and df_hdb_expressway_300m_filtered
df_hdb_resale_50m_150m_300m = df_hdb_resale_50m_150m.merge(df_hdb_expressway_300m_filtered, left_on=['block', 'street_name'], right_on=['BLOCK', 'ROAD'], how='left')

# Drop extra columns
df_hdb_resale_50m_150m_300m = df_hdb_resale_50m_150m_300m.drop(columns=['BLOCK', 'ROAD'], errors='ignore')

# Rename the 'highway' column to 'highwayname_50m'
df_hdb_resale_50m_150m_300m.rename(columns={'highway': 'highwayname_300m'}, inplace=True)

# Create the new column 'highway_50m'
# If 'highwayname_50m' has a value, set 'highway_50m' to 1, otherwise 0
df_hdb_resale_50m_150m_300m['highway_300m'] = df_hdb_resale_50m_150m_300m['highwayname_300m'].apply(lambda x: 1 if pd.notna(x) and x != '' else 0)

print(df_hdb_resale_50m_150m_300m.shape)

# Observe flats that are within 150m of highway
df_hdb_resale_50m_150m_300m[df_hdb_resale_50m_150m_300m['highway_300m'] == 1]

(1745, 9)
(1704, 3)
(229204, 16)

,year,town,flat_type,block,street_name,storey_range,floor_area_sqm,remaining_lease_years,resale_price,storey_range_category,highwayname_50m,highway_50m,highwayname_150m,highway_150m,highwayname_300m,highway_300m
3,2017,ANG MO KIO,3 ROOM,465,ANG MO KIO AVENUE 10,04 TO 06,68.0,62,265000.0,Low (01-06),NaN,0,NaN,0,CENTRAL EXPRESSWAY,1
29,2017,ANG MO KIO,3 ROOM,557,ANG MO KIO AVENUE 10,10 TO 12,82.0,62,366000.0,Low-Mid (07-12),NaN,0,NaN,0,CENTRAL EXPRESSWAY,1
36,2017,ANG MO KIO,4 ROOM,546,ANG MO KIO AVENUE 10,01 TO 03,92.0,63,410000.0,Low (01-06),NaN,0,NaN,0,CENTRAL EXPRESSWAY,1
41,2017,ANG MO KIO,4 ROOM,463,ANG MO KIO AVENUE 10,04 TO 06,92.0,62,440000.0,Low (01-06),NaN,0,NaN,0,CENTRAL EXPRESSWAY,1
56,2017,BEDOK,2 ROOM,101,BEDOK NORTH AVENUE 4,04 TO 06,45.0,60,238000.0,Low (01-06),PAN ISLAND EXPRESSWAY,1,PAN ISLAND EXPRESSWAY,1,PAN ISLAND EXPRESSWAY,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229064,2016,WOODLANDS,4 ROOM,427,WOODLANDS STREET 41,04 TO 06,100.0,80,325000.0,Low (01-06),NaN,0,NaN,0,BUKIT TIMAH EXPRESSWAY,1
229065,2016,WOODLANDS,4 ROOM,437,WOODLANDS STREET 41,10 TO 12,84.0,79,311000.0,Low-Mid (07-12),NaN,0,NaN,0,BUKIT TIMAH EXPRESSWAY,1
229066,2016,WOODLANDS,4 ROOM,437,WOODLANDS STREET 41,10 TO 12,84.0,79,311000.0,Low-Mid (07-12),NaN,0,NaN,0,SELETAR EXPRESSWAY,1
229119,2016,WOODLANDS,EXECUTIVE,405,WOODLANDS STREET 41,07 TO 09,177.0,78,723000.0,Low-Mid (07-12),NaN,0,NaN,0,BUKIT TIMAH EXPRESSWAY,1
229120,2016,WOODLANDS,EXECUTIVE,411,WOODLANDS STREET 41,10 TO 12,177.0,78,738000.0,Low-Mid (07-12),NaN,0,NaN,0,BUKIT TIMAH EXPRESSWAY,1

### Creating the "expressway_100m" Column

Similar to how the earlier columns were created, another binary column is created to identify flats that are within 100m of a highway.

In [51]:
# Load the HDB flats that are within a 300m
df_hdb_expressway_100m = pd.read_csv("reversegeocode_data_100m.csv")
print(df_hdb_expressway_100m.shape)

# Prepare a filtered table for merging
df_hdb_expressway_100m_filtered = df_hdb_expressway_100m[['highway', 'BLOCK', 'ROAD']]
# Remove duplicate rows
df_hdb_expressway_100m_filtered = df_hdb_expressway_100m_filtered.drop_duplicates()
print(df_hdb_expressway_100m_filtered.shape)

# Perform left join on df_hdb_resale and df_hdb_expressway_300m_filtered
df_hdb_resale_50m_100m_150m_300m = df_hdb_resale_50m_150m_300m.merge(df_hdb_expressway_100m_filtered, left_on=['block', 'street_name'], right_on=['BLOCK', 'ROAD'], how='left')

# Drop extra columns
df_hdb_resale_50m_100m_150m_300m = df_hdb_resale_50m_100m_150m_300m.drop(columns=['BLOCK', 'ROAD'], errors='ignore')

# Rename the 'highway' column to 'highwayname_50m'
df_hdb_resale_50m_100m_150m_300m.rename(columns={'highway': 'highwayname_100m'}, inplace=True)

# Create the new column 'highway_50m'
# If 'highwayname_50m' has a value, set 'highway_50m' to 1, otherwise 0
df_hdb_resale_50m_100m_150m_300m['highway_100m'] = df_hdb_resale_50m_100m_150m_300m['highwayname_100m'].apply(lambda x: 1 if pd.notna(x) and x != '' else 0)

print(df_hdb_resale_50m_100m_150m_300m.shape)

# Observe flats that are within 150m of highway
df_hdb_resale_50m_100m_150m_300m[df_hdb_resale_50m_100m_150m_300m['highway_100m'] == 1]

(706, 9)
(696, 3)
(231984, 18)

,year,town,flat_type,block,street_name,storey_range,floor_area_sqm,remaining_lease_years,resale_price,storey_range_category,highwayname_50m,highway_50m,highwayname_150m,highway_150m,highwayname_300m,highway_300m,highwayname_100m,highway_100m
3,2017,ANG MO KIO,3 ROOM,465,ANG MO KIO AVENUE 10,04 TO 06,68.0,62,265000.0,Low (01-06),NaN,0,NaN,0,CENTRAL EXPRESSWAY,1,NaN,0
29,2017,ANG MO KIO,3 ROOM,557,ANG MO KIO AVENUE 10,10 TO 12,82.0,62,366000.0,Low-Mid (07-12),NaN,0,NaN,0,CENTRAL EXPRESSWAY,1,NaN,0
36,2017,ANG MO KIO,4 ROOM,546,ANG MO KIO AVENUE 10,01 TO 03,92.0,63,410000.0,Low (01-06),NaN,0,NaN,0,CENTRAL EXPRESSWAY,1,NaN,0
41,2017,ANG MO KIO,4 ROOM,463,ANG MO KIO AVENUE 10,04 TO 06,92.0,62,440000.0,Low (01-06),NaN,0,NaN,0,CENTRAL EXPRESSWAY,1,NaN,0
56,2017,BEDOK,2 ROOM,101,BEDOK NORTH AVENUE 4,04 TO 06,45.0,60,238000.0,Low (01-06),PAN ISLAND EXPRESSWAY,1,PAN ISLAND EXPRESSWAY,1,PAN ISLAND EXPRESSWAY,1,PAN ISLAND EXPRESSWAY,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231844,2016,WOODLANDS,4 ROOM,427,WOODLANDS STREET 41,04 TO 06,100.0,80,325000.0,Low (01-06),NaN,0,NaN,0,BUKIT TIMAH EXPRESSWAY,1,NaN,0
231845,2016,WOODLANDS,4 ROOM,437,WOODLANDS STREET 41,10 TO 12,84.0,79,311000.0,Low-Mid (07-12),NaN,0,NaN,0,BUKIT TIMAH EXPRESSWAY,1,NaN,0
231846,2016,WOODLANDS,4 ROOM,437,WOODLANDS STREET 41,10 TO 12,84.0,79,311000.0,Low-Mid (07-12),NaN,0,NaN,0,SELETAR EXPRESSWAY,1,NaN,0
231899,2016,WOODLANDS,EXECUTIVE,405,WOODLANDS STREET 41,07 TO 09,177.0,78,723000.0,Low-Mid (07-12),NaN,0,NaN,0,BUKIT TIMAH EXPRESSWAY,1,NaN,0
231900,2016,WOODLANDS,EXECUTIVE,411,WOODLANDS STREET 41,10 TO 12,177.0,78,738000.0,Low-Mid (07-12),NaN,0,NaN,0,BUKIT TIMAH EXPRESSWAY,1,NaN,0

### Creating the "expressway_500m" Column

Similar to how the earlier columns were created, another binary column is created to identify flats that are within 500m of a highway.

In [57]:
# Load the HDB flats that are within a 500m
df_hdb_expressway_500m = pd.read_csv("reversegeocode_data_500m.csv")
print(df_hdb_expressway_500m.shape)

# Prepare a filtered table for merging
df_hdb_expressway_500m_filtered = df_hdb_expressway_500m[['highway', 'BLOCK', 'ROAD']]
# Remove duplicate rows
df_hdb_expressway_500m_filtered = df_hdb_expressway_500m_filtered.drop_duplicates()
print(df_hdb_expressway_500m_filtered.shape)

# Perform left join on df_hdb_resale and df_hdb_expressway_300m_filtered
df_hdb_resale_50_500m = df_hdb_resale_50m_100m_150m_300m.merge(df_hdb_expressway_500m_filtered, left_on=['block', 'street_name'], right_on=['BLOCK', 'ROAD'], how='left')

# Drop extra columns
df_hdb_resale_50_500m = df_hdb_resale_50_500m.drop(columns=['BLOCK', 'ROAD'], errors='ignore')

# Rename the 'highway' column to 'highwayname_50m'
df_hdb_resale_50_500m.rename(columns={'highway': 'highwayname_500m'}, inplace=True)

# Create the new column 'highway_50m'
# If 'highwayname_50m' has a value, set 'highway_50m' to 1, otherwise 0
df_hdb_resale_50_500m['highway_500m'] = df_hdb_resale_50_500m['highwayname_500m'].apply(lambda x: 1 if pd.notna(x) and x != '' else 0)

print(df_hdb_resale_50_500m.shape)

# Observe flats that are within 150m of highway
df_hdb_resale_50_500m[df_hdb_resale_50_500m['highway_500m'] == 1]

(2046, 9)
(1990, 3)
(243979, 20)

,year,town,flat_type,block,street_name,storey_range,floor_area_sqm,remaining_lease_years,resale_price,storey_range_category,highwayname_50m,highway_50m,highwayname_150m,highway_150m,highwayname_300m,highway_300m,highwayname_100m,highway_100m,highwayname_500m,highway_500m
3,2017,ANG MO KIO,3 ROOM,465,ANG MO KIO AVENUE 10,04 TO 06,68.0,62,265000.0,Low (01-06),NaN,0,NaN,0,CENTRAL EXPRESSWAY,1,NaN,0,CENTRAL EXPRESSWAY,1
29,2017,ANG MO KIO,3 ROOM,557,ANG MO KIO AVENUE 10,10 TO 12,82.0,62,366000.0,Low-Mid (07-12),NaN,0,NaN,0,CENTRAL EXPRESSWAY,1,NaN,0,CENTRAL EXPRESSWAY,1
34,2017,ANG MO KIO,4 ROOM,475,ANG MO KIO AVENUE 10,07 TO 09,91.0,61,400000.0,Low-Mid (07-12),NaN,0,NaN,0,NaN,0,NaN,0,CENTRAL EXPRESSWAY,1
36,2017,ANG MO KIO,4 ROOM,546,ANG MO KIO AVENUE 10,01 TO 03,92.0,63,410000.0,Low (01-06),NaN,0,NaN,0,CENTRAL EXPRESSWAY,1,NaN,0,CENTRAL EXPRESSWAY,1
41,2017,ANG MO KIO,4 ROOM,463,ANG MO KIO AVENUE 10,04 TO 06,92.0,62,440000.0,Low (01-06),NaN,0,NaN,0,CENTRAL EXPRESSWAY,1,NaN,0,CENTRAL EXPRESSWAY,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243863,2016,WOODLANDS,5 ROOM,589,WOODLANDS DRIVE 16,04 TO 06,111.0,84,413000.0,Low (01-06),NaN,0,NaN,0,NaN,0,NaN,0,SELETAR EXPRESSWAY,1
243886,2016,WOODLANDS,5 ROOM,425,WOODLANDS STREET 41,04 TO 06,121.0,80,415000.0,Low (01-06),NaN,0,NaN,0,NaN,0,NaN,0,BUKIT TIMAH EXPRESSWAY,1
243887,2016,WOODLANDS,5 ROOM,425,WOODLANDS STREET 41,04 TO 06,121.0,80,415000.0,Low (01-06),NaN,0,NaN,0,NaN,0,NaN,0,SELETAR EXPRESSWAY,1
243894,2016,WOODLANDS,EXECUTIVE,405,WOODLANDS STREET 41,07 TO 09,177.0,78,723000.0,Low-Mid (07-12),NaN,0,NaN,0,BUKIT TIMAH EXPRESSWAY,1,NaN,0,BUKIT TIMAH EXPRESSWAY,1
243895,2016,WOODLANDS,EXECUTIVE,411,WOODLANDS STREET 41,10 TO 12,177.0,78,738000.0,Low-Mid (07-12),NaN,0,NaN,0,BUKIT TIMAH EXPRESSWAY,1,NaN,0,BUKIT TIMAH EXPRESSWAY,1

In [58]:
# export to CSV
df_hdb_resale_50_500m.to_csv("hdb_presale_prices_2015-2024_highway50to500m.csv", index=False)

Additional processing of the dataset was performed in Excel. 
- A new categorical column `distance_from_expressway` was created, based on earlier columns relating to the distance of the flat from a highway.
- This column contains the following values: `'<=50m', '51-100m', '101-150m', '151-300m', '301-500m', '>500m'`
- CSV file of cleaned dataset: `"hdb_presale_prices_2015-2024_cleaned_regression.csv"`

Subsequently, regression analysis is performed in Part 2 of the notebook.